/CIS1201_Assignment3/build/
/CIS1201_Assignment3/nbproject/private/
/CIS1201_Assignment3_Hoque_MdAhsanul/CIS1201_Assignment3/build/
/CIS1201_Assignment3_Hoque_MdAhsanul/CIS1201_Assignment3/nbproject/private/
/TripCostCalculator/nbproject/private/
/TripCostCalculator/build/
/Furniture_App/nbproject/private/
/Furniture_App/build/
/HamsBluebary/nbproject/private/
/HamsBluebary/build/
/CarValuationApp/nbproject/private/
/CarValuationApp/build/
/Assignment_6_Hoque_MdAhsanul/TaxReturnApplication/build/
/Assignment_6_Hoque_MdAhsanul/TaxReturnApplication/nbproject/private/
/TaxReturnApplication/build/
/TaxReturnApplication/nbproject/private/
/CIS1201Practical2/nbproject/private/
/HockeyTracker/build/
/HockeyTracker/nbproject/private/